<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>

    <div class="title">
    <h1>New Pokemon</h1>
    </div>

    <div class="form">
        <form action="/pokemon" method="POST">
            Name: <br>
                 <input type="text" name="name" /><br/>
            Type: <br>
                 <input type="text" name="type" /><br/>
            Image link: <br>
                 <input type="text" name="img" /><br/>
           <br> <h3>Stats:</h3>
            Hp: <br>
                <input type="text" name="hp" /><br/>
            Attack: <br>
                 <input type="text" name="attack" /><br/>
            Defense: <br>
                 <input type="text" name="defense" /><br/>
                <br><input type="submit" value="Create"/>
        </form>
        <a href="/pokemon"><button>Return to Index</button></a>
    </div>

</body>
</html>