img{
    max-width: 5rem;
    max-height: 5rem; 
    width:  100px;
    height: 100px;
    box-shadow: 5px 5px 2.5px rgb(1, 1, 1);


}

body{
    background-image: url(https://i.imgur.com/WWiAJIM.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size:contain;
    background-repeat: no-repeat;
    height: 80vh;
    margin-top: 12rem;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: 100px 1fr 100px;  

}

.pokemonImg{
    grid-column: 2;
    grid-row: 2;
    overflow-y: scroll;
    max-width: 20rem;
    max-height: 35rem;
    align-items: center;
    margin: 0%;
   
}
 h1{
    grid-column: 2;
    grid-row: 1;
    padding-left: 18rem;
    
 }

 
::-webkit-scrollbar {
    display: none;
}